<body>
  <header>
    <h1 class="text-center">Bienvenido {{user.name}}</h1>
  </header>
  <main>
    <div class="container">
      @if (user.rol == 1) {
      <div (click)="irA(1)" class="card">
        <div class="card-content">Gestión de Usuarios</div>
      </div>
      }
      <div (click)="irA(2)" class="card">
        <div class="card-content">Gestión de clientes</div>
      </div>
      <div (click)="irA(3)" class="card">
        <div class="card-content">Gestión de productos</div>
      </div>
      <div (click)="irA(4)" class="card">
        <div class="card-content">Trabajo normal</div>
      </div>
      <div (click)="irA(5)" class="card">
        <div class="card-content">Generación de resumen de facturas</div>
      </div>
      <div (click)="irA(6)" class="card go-back">
        <div class="card-content">Volver a login</div>
      </div>
    </div>
  </main>
  <footer>
    <p>&copy; 2025 Alberto Zapardiel Fernández</p>
  </footer>
</body>