.producto-lista li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  gap: 10px;
  /* Ajusta el espacio entre los elementos */
}

.producto-lista li img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 0;
  /* Elimina márgenes innecesarios */
}

.info-producto {
  flex: 1;
  text-align: center;
  flex-shrink: 1;
}

.botones {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.producto-lista li .botones button {
  margin-top: 5px;
  padding: 10px 15px;
  border-radius: 5px;
}

.producto-lista li .botones button.modificar {
  background-color: var(--yellow-spain-color);
  color: var(--red-spain-color);
}

.producto-lista li .botones button.eliminar {
  background-color: var(--red-spain-color);
  color: var(--yellow-spain-color);
}

.producto-container {
  text-align: center;
  /* Centra los elementos dentro del contenedor */
}

.volver-btn {
  background-color: #4CAF50;
  /* Verde claro */
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

  /* Para añadir un icono, puedes usar una fuente de iconos como Font Awesome */
  padding-left: 40px;
  position: relative;
}

.volver-btn::before {
  content: "\2190";
  /* Código del icono de flecha hacia la izquierda en Font Awesome */
  font-family: Font Awesome;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  /* Centrar verticalmente el icono */
}

.volver-btn:hover {
  background-color: #3e8e41;
  /* Verde más oscuro al pasar el ratón */
}