<div>
  <h2>{{ register ? 'Registrar' : update ? 'Actualizar' : 'Login' }}</h2>
  <div class="example-container">
    <form (ngSubmit)="login()">
      <!--NOMBRE-->
      <mat-form-field *ngIf="register || update">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Tu nombre" [formControl]="nombre" (blur)="updateErrorMessage()" required />
        @if (mail.invalid) {
        <mat-error>{{errorMessage()}}</mat-error>
        }
      </mat-form-field>
      <!--APELLIDOS-->
      <mat-form-field *ngIf="register || update">
        <mat-label>Apellidos</mat-label>
        <input matInput placeholder="Tus apellidos" [formControl]="apellidos" (blur)="updateErrorMessage()" required />
        @if (mail.invalid) {
        <mat-error>{{errorMessage()}}</mat-error>
        }
      </mat-form-field>
      <!--EMAIL-->
      <mat-form-field>
        <mat-label>Introduce tu email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="mail" (blur)="updateErrorMessage()" required />
        @if (mail.invalid) {
        <mat-error>{{errorMessage()}}</mat-error>
        }
      </mat-form-field>
      <!--CONTRASEÑA-->
      <mat-form-field>
        <mat-label>Introduce tu contraseña</mat-label>
        <input [formControl]="password" matInput [type]="hide() ? 'password' : 'text'" />
        <button class="boton-esconder" mat-icon-button matSuffix (click)="hidePassword($event)"
          [attr.aria-label]="'Ocultar password'" [attr.aria-pressed]="hide()">
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <!--DNI-->
      <mat-form-field *ngIf="register">
        <mat-label>DNI</mat-label>
        <input matInput placeholder="Tu dni" [formControl]="dni" minlength="9" maxlength="9"
          (blur)="updateErrorMessage()" required />
        @if (mail.invalid) {
        <mat-error>{{errorMessage()}}</mat-error>
        }
      </mat-form-field>
      <mat-form-field *ngIf="update">
        <mat-label>DNI</mat-label>
        <mat-select [(value)]="dniValue" [formControl]="dni">
          <mat-option *ngFor="let user of userList" [value]="user.dni">
            {{ user.dni }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!--ROL-->
      <mat-form-field *ngIf="update">
        <mat-label>Rol</mat-label>
        <mat-select [(value)]="rolValue" [formControl]="rol">
          <mat-option value="1"> Administrador </mat-option>
          <mat-option value="0"> Empleado </mat-option>
        </mat-select>
      </mat-form-field>
      <!--TELEFONO-->
      <mat-form-field *ngIf="register || update">
        <mat-label>Telefono</mat-label>
        <input matInput placeholder="Tu telefono" [formControl]="telefono" (blur)="updateErrorMessage()" maxlength="12"
          minlength="8" required />
        @if (mail.invalid) {
        <mat-error>{{errorMessage()}}</mat-error>
        }
      </mat-form-field>
      <!--BOTONES-->
      <div class="button-row">
        <button mat-flat-button>{{ register ? 'Registrar' : update ? 'Actualizar' : 'Login' }}</button>
        <button (click)="toogleRegister($event)" mat-flat-button>{{ register ? 'Volver' : update ? 'Volver' :
          'Registrar'
          }}</button>
      </div>
    </form>
  </div>
  @if (update) {
  <div class="mt-0 d-flex">
    <button class="mx-auto btn btn-primary" (click)="verUsuarios()">Ver usuarios</button>
  </div>
  }
</div>
<!--Si no hay usuarios saco que no hay, si los hay saco la tabla-->
@if (userList == null) {
<p>No hay usuarios registrados.</p>
}@else {
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Email</th>
      <th scope="col">Pass</th>
      <th scope="col">Rol</th>
      <th scope="col">DNI</th>
      <th scope="col">Telefono</th>
    </tr>
  </thead>
  <tbody>
    @for (user of userList; track $index) {
    <tr>
      <th scope="row">{{$index + 1}}</th>
      <td>{{user.name}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.pass}}</td>
      <td>{{user.rol === 1 ? 'Administrador' : 'Empleado'}}</td>
      <td>{{user.dni}}</td>
      <td>{{user.phone}}</td>
    </tr>
    }
  </tbody>
</table>
}