<div>
  <h2>Login</h2>
  <div class="example-container">
    <form (ngSubmit)="login()">
      <mat-form-field *ngIf="register">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Alberto" [formControl]="nombre" (blur)="updateErrorMessage()" required />
        @if (mail.invalid) {
        <mat-error>{{errorMessage()}}</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Introduce tu email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="mail" (blur)="updateErrorMessage()" required />
        @if (mail.invalid) {
        <mat-error>{{errorMessage()}}</mat-error>
        }
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Introduce tu contraseña</mat-label>
        <input [formControl]="password" matInput [type]="hide() ? 'password' : 'text'" />
        <button class="boton-esconder" mat-icon-button matSuffix (click)="hidePassword($event)"
          [attr.aria-label]="'Ocultar password'" [attr.aria-pressed]="hide()">
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <div class="button-row">
        <button mat-flat-button>{{register ? 'Registrase' : "Login"}}</button>
        <button (click)="toogleRegister($event)" mat-flat-button>{{register ? 'Volver' : "Registrarse"}}</button>
      </div>
    </form>
  </div>
</div>
<!--Si no hay usuarios saco que no hay, si los hay saco la tabla-->
@if (userList == null) {
<p>No hay usuarios registrados.</p>
}@else {
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Email</th>
      <th scope="col">Pass</th>
      <th scope="col">Rol</th>
      <th scope="col">DNI</th>
      <th scope="col">Telefono</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      @for (user of userList; track $index) {
      <th scope="row">{{$index + 1}}</th>
      <td>{{user.name}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.pass}}</td>
      <td>{{user.rol === 1 ? 'Administrador' : 'Empleado'}}</td>
      <td>{{user.dni}}</td>
      <td>{{user.phone}}</td>
      }
    </tr>
  </tbody>
</table>
}