/* Variables de color */
:root {
  --main-bg-color: #eee;
  --main-font-color: #111;
  --secondary-bg-color: #ddd;
  --red-spain-color: rgb(173, 21, 25);
  --yellow-spain-color: rgb(250, 189, 0);
}


html,
body {
  height: 100%;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
