/* Variables de color */
:root {
  --main-bg-color: #eee;
  --main-font-color: #111;
}


html,
body {
  height: 100%;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}